{% extends "home/base.html" %}

{% load app_tags %}
{% block header %}
<header >
    <div class="header-a">
    {% load static %}
        <span class="header-h">La Pole<img src="{% static 'image/Orange_sport_car.svg' %}" class="headimg"" alt="La Pole!!!"></span> 
        <a class="btn btn-light" role="button" href="#" id="Suscr"><span class="glyphicon glyphicon-log-out"></span>Suscríbete</a>
    </div>
</header>
{% endblock %}

{% block navbar %}
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home:home' %}">La Pole</a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About us</a>
                            <div class="dropdown-menu .fade-up" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'hello:home' %}">Home</a>
                                <a class="dropdown-item" href="{% url 'hello:about' %}">About us</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'hello:contact' %}">Contact</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tareas</a>
                            <ul class="dropdown-menu .fade-up" aria-labelledby="navbarDropdown">              
                                <li><a class="dropdown-item" href="{% url 'autos:all' %}">Autos</a></li>
                                <li><a class="dropdown-item" href="{% url 'cats:all' %}">Cats</a></li>
                                <li><a class="dropdown-item" href="{% url 'polls:index' %}">Polls</a></li>
                                {% url 'ads' as ads %}
                                {% if user.is_authenticated %}
                                <li><a class="dropdown-item dropdown-toggle subsub" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ads</a>
                                    <ul class="submenu dropdown-menu .fade-up" aria-labelledby="navbarDropdown">    
                                        <li><a class="dropdown-item" href="{% url 'ads:all' %}">Ad list</a></li>
                                        <li><a class="dropdown-item" href="{% url 'ads:article_create' %}">Create Ad</a></li> 
                                    </ul>
                                </li>                           
                                    {% else %}
                                <li><a class="dropdown-item" href="{% url 'ads:all' %}">Ads List</a>
                                    {% endif %}
                                </li>
                                <li><a class="dropdown-item" href="{% url 'hello:contact' %}">Contact</a></li>
                            </ul>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right pe-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img style="width: 25px;" src="{{ user|gravatar:60 }}"/><b class="caret"></b></a>
                            <div class="dropdown-menu dropdown-menu-end .fade-up" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-user"></span> Profile </a>
                                <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}"><span class="glyphicon glyphicon-log-out"></span>Logout </a>
                            </div>
                        {% else %}
                        <li><a class="btn btn-light" role="button" href="{% url 'login' %}?next={{ request.path }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block navbar1 %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="bg-light p-5 rounded">
        {% block head %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    <hr/>
    {% block extra_body %}
    {% endblock %}

{% endblock %}